<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
   {{>navbar}}

    <section id="our">
        <!--heading------->
        <div class="our-heading">
        <h2 class="fnd">Founders</h2>
        </div>
        <!--our-box-container--------------->
        <div class="c-box-container">
        <!--box-1----->	
        <div class="our-box">
            <!--img-------->
            <img src="images/client-1.jpg"/>
            <!--stars/reviews---------->
            <h2>Marjana Akther</h2>
            <!--details/comment------>
            <p class="txt">Student ID: 180203020002<br>
                Computer Science And Engineering<br> </p>
            <!--btn--------->
            <h5>North East University Bangladesh</h5>
            
            <a href="#" class="btn btn-danger">See More</a>
        </div>
            <!--box-2----->	
        <div class="our-box">
            <!--img-------->
            <img src="images/client-2.jpg"/>
            <!--stars/reviews---------->
            <h2>Shipon Ahmed</h2>
            <p class="txt">Student ID: 180203020004<br>
                Computer Science And Engineering<br> </p>
            <!--btn--------->
            <h5>North East University Bangladesh</h5>
            
            <a href="#"  class="btn btn-danger">See More</a>
        </div>
           
        </div>
        </section>
{{>footer}}
</body>
</html>